@font-face{
    font-family: headstyle;
    src: url(/css/BreeSerif-Regular.ttf);
}

@font-face{
    font-family: options;
    src: url(/css/Arvo-Regular.ttf)
}

.header{
    font-family: 'headstyle';
    color: cadetblue;
}

.navbar{
    float: right;
}

button{
    border: 0px solid;
    color: purple;
    font-size: 16px;
    font-family: 'options';
    font-weight: bold;
}

#owl-demo .owl-item div{
  padding:5px;
}
#owl-demo .owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.slide{
    text-align: center;
    opacity: 0.8;
}

.buton1{
    border: 0px solid;
    font-size: 20px;
    font-weight: normal;
    border-radius: 15px;
}

img{
    box-shadow: 0px 10px 0px 10px black;
}

.container1{
    background-color: aliceblue;
    opacity: 0.8;
    width: 95%;
    padding: 30px;
    margin: 5px;
}

#read_more{
    width: 50%;
    padding: 50px;
    border: 1px solid;
    box-shadow: 3px 3px cadetblue;
    background-color: cornsilk;
    text-align: center;
}
    
.container2{
    background-color: inherit;
    padding: 15px;
    width: inherit;
    height: auto;
}

.box{
    border: 1px solid;
    width: 150px;
    box-shadow: 1px 1px black;
    padding: 50px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    background-color: azure;
}

.box1{
    float: right;
    width: 350px;
    display: inline-block;
    border: 1px solid;
    box-shadow: 1px 1px 2px 2px black;
    padding: 50px;
    height: inherit;
}
